* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: #1a1a1a;
    color: #fafafa;
    transition-property: background, background-color;
    transition-duration: .5s;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 3px 3px;
    color: #fafafa;
}

#workspaces button:hover {
    background-color: #999999;
}

#workspaces button.focused {
    color: #00afff;
}

#workspaces button.active{
    color: #afafaf;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: #ffffff;
}

#workspaces button.urgent:hover {
    color: #eb4d4b;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 3px 7px;
    color: #fafafa;
}

#pulseaudio.muted {
    color: #ffff00;
}

#mode {
    color: #eb4d4b;
}

.spotify {
    color: #9ec600;
}
