* {
	border: none;
	border-radius: 0;
	font-family: DejaVu Sans Mono, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	min-height: 0;
}

window#waybar {
	background: #1a1a1a;
	color: #efefef;
	transition-property: background, background-color;
	transition-duration: .5s;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
	padding: 2px 5px 4px 5px;
	color: #efefef;
	background: transparent;
	border-top: 2px solid transparent;
}

#workspaces button:hover {
	border-top: 2px solid rgba(255, 255, 255, 0.15);
}

#workspaces button.visible {
	color: #efefef;
	background: rgba(255, 255, 255, 0.15);
}

#workspaces button.focused {
	color: #efefef;
	border-top: 2px solid white;
	background: rgba(255, 255, 255, 0.15);
}

#workspaces button.urgent {
	background-color: #eb4d4b;
	color: #efefef;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-spotify, #custom-ncspot, #tray, #mode, #idle_inhibitor {
	padding: 1px 5px;
	margin: 2px 5px;
	color: #d0d0d0;
}

#tray {
	padding: 1px 5px 1px 1px;
	margin: 2px 5px 2px 2px;
}

#pulseaudio.muted {
	color: #1a1a1a;
	background-color: #ffff00;
}

#custom-spotify {
	color: #1a1a1a;
	background-color: #8bcc66;
}

#custom-ncspot {
	color: #1a1a1a;
	background-color: #66cc99;
}

#mode {
	color: #1a1a1a;
	background-color: #eb4d4b;
}
