* {
    border: none;
    border-radius: 0;
    font-family: Source Code Pro, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: #1a1a1a;
    color: #fafafa;
    transition-property: background, background-color;
    transition-duration: .5s;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 2px 5px 4px 5px;
    color: #afafaf;
    background: transparent;
    border-top: 2px solid transparent;
}

#workspaces button:hover {
  border-top: 2px solid rgba(255, 255, 255, 0.15);
}

#workspaces button.visible {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
}

#workspaces button.focused {
    color: #ffffff;
    border-top: 2px solid white;
    background: rgba(255, 255, 255, 0.15);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 3px 7px;
    color: #fafafa;
}

#pulseaudio.muted {
    color: #ffff00;
}

#mode {
    color: #eb4d4b;
    padding: 0 7px;
}

#window {
    padding: 0 14px;
}

.playing {
    color: #9ec600;
    padding: 3px 7px;
}
