@keyframes ripple {
  to {
    background-size: 1000% 1000%;
  }
}

@keyframes ripple-on-slider {
  to {
    background-size: auto, 1000% 1000%;
  }
}

@keyframes ripple-on-headerbar {
  from {
    background-image: radial-gradient(circle, #8AB4F8 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle, #8AB4F8 100%, transparent 0%);
  }
}

* {
  font-family: DejaVu Sans Mono;
  background-clip: padding-box;
  -GtkToolButton-icon-spacing: 0;
  -GtkTextView-error-underline-color: #F28B82;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 24;
  -GtkWidget-text-handle-height: 24;
  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;
  outline-style: solid;
  outline-width: 2px;
  outline-color: transparent;
  outline-offset: -4px;
  -gtk-outline-radius: 4px;
  -gtk-secondary-caret-color: #8AB4F8;
}

*:focus {
  outline-color: alpha(currentColor, 0.12);
}

/***************
 * Base States *
 ***************/
.background {
  background-color: #1a1a1a;
  color: white;
}

/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/
*:disabled {
  -gtk-icon-effect: dim;
}

.gtkstyle-fallback {
  background-color: #212121;
  color: white;
}

.gtkstyle-fallback:hover {
  background-color: #141414;
  color: white;
}

.gtkstyle-fallback:active {
  background-color: #080808;
  color: white;
}

.gtkstyle-fallback:disabled {
  background-color: #212121;
  color: rgba(255, 255, 255, 0.5);
}

.gtkstyle-fallback:selected {
  background-color: #8AB4F8;
  color: rgba(0, 0, 0, 0.87);
}

.view {
  background-color: #2C2C2C;
  color: white;
}

.view:hover {
  box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08);
}

.view:selected:hover {
  box-shadow: inset 0 0 0 9999px rgba(138, 180, 248, 0.08);
}

.view:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.view:hover, .view:selected {
  border-radius: 4px;
}

textview text {
  background-color: #2C2C2C;
}

textview border {
  background-color: #2C2C2C;
  color: rgba(255, 255, 255, 0.7);
}

.rubberband,
rubberband,
flowbox rubberband,
treeview.view rubberband,
.content-view rubberband,
.content-view .rubberband,
XfdesktopIconView.view .rubberband {
  border: 1px solid #8AB4F8;
  background-color: rgba(138, 180, 248, 0.3);
}

flowbox flowboxchild {
  padding: 4px;
  border-radius: 4px;
}

.content-view .tile:selected {
  background-color: transparent;
}

label {
  caret-color: currentColor;
}

label.separator {
  color: rgba(255, 255, 255, 0.7);
}

label:disabled {
  color: rgba(255, 255, 255, 0.5);
}

headerbar label:disabled,
tab label:disabled,
button label:disabled {
  color: inherit;
}

label.osd {
  border-radius: 4px;
  background-color: rgba(97, 97, 97, 0.9);
  color: white;
}

.dim-label {
  color: rgba(255, 255, 255, 0.7);
}

assistant .sidebar {
  padding: 4px 0;
}

assistant .sidebar label {
  min-height: 36px;
  padding: 0 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

assistant .sidebar label.highlight {
  color: white;
}

/****************
 * Text Entries *
 ****************/
spinbutton:not(.vertical),
entry {
  min-height: 36px;
  padding: 0 8px;
  border-radius: 4px 4px 0 0;
  caret-color: currentColor;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), border-image 225ms cubic-bezier(0, 0, 0.2, 1);
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #8AB4F8 0%, transparent 0%) 0 0 0/0 0 0px;
  box-shadow: inset 0 0 0 9999px transparent, inset 0 -1px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.04);
  color: white;
}

#entry {
  margin: 0 4px;
}

spinbutton:focus:not(.vertical),
entry:focus {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #8AB4F8 100%, transparent 0%) 0 0 2/0 0 2px;
}

spinbutton:drop(active):not(.vertical),
entry:drop(active) {
  box-shadow: inset 0 0 0 9999px alpha(currentColor, 0.08), inset 0 -1px rgba(255, 255, 255, 0.3);
}

spinbutton:disabled:not(.vertical),
entry:disabled {
  box-shadow: inset 0 0 0 9999px transparent, inset 0 -1px rgba(255, 255, 255, 0.12);
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.5);
}

spinbutton.flat:not(.vertical),
entry.flat {
  min-height: 0;
  padding: 2px;
  border-radius: 0;
  background-color: transparent;
}

spinbutton:not(.vertical) image,
entry image {
  color: rgba(255, 255, 255, 0.7);
}

spinbutton:not(.vertical) image:hover, spinbutton:not(.vertical) image:active,
entry image:hover,
entry image:active {
  color: white;
}

spinbutton:not(.vertical) image:disabled,
entry image:disabled {
  color: rgba(255, 255, 255, 0.5);
}

spinbutton:not(.vertical) image.left,
entry image.left {
  margin-left: 2px;
  margin-right: 6px;
}

spinbutton:not(.vertical) image.right,
entry image.right {
  margin-left: 6px;
  margin-right: 2px;
}

spinbutton:not(.vertical) undershoot.left,
entry undershoot.left {
  background-color: transparent;
  background-image: linear-gradient(to top, transparent 50%, rgba(255, 255, 255, 0.3) 50%);
  padding-left: 1px;
  background-size: 1px 12px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: left top;
}

spinbutton:not(.vertical) undershoot.right,
entry undershoot.right {
  background-color: transparent;
  background-image: linear-gradient(to top, transparent 50%, rgba(255, 255, 255, 0.3) 50%);
  padding-right: 1px;
  background-size: 1px 12px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: right top;
}

spinbutton.error:not(.vertical),
entry.error {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), border-image 225ms cubic-bezier(0, 0, 0.2, 1);
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #F28B82 0%, transparent 0%) 0 0 0/0 0 0px;
  box-shadow: inset 0 0 0 9999px transparent, inset 0 -1px #F28B82;
  background-color: rgba(255, 255, 255, 0.04);
  color: white;
}

spinbutton.error:focus:not(.vertical),
entry.error:focus {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #F28B82 100%, transparent 0%) 0 0 2/0 0 2px;
}

spinbutton.error:disabled:not(.vertical),
entry.error:disabled {
  box-shadow: inset 0 0 0 9999px transparent, inset 0 -1px rgba(255, 255, 255, 0.12);
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.5);
}

spinbutton.warning:not(.vertical),
entry.warning {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), border-image 225ms cubic-bezier(0, 0, 0.2, 1);
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #FDD633 0%, transparent 0%) 0 0 0/0 0 0px;
  box-shadow: inset 0 0 0 9999px transparent, inset 0 -1px #FDD633;
  background-color: rgba(255, 255, 255, 0.04);
  color: white;
}

spinbutton.warning:focus:not(.vertical),
entry.warning:focus {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #FDD633 100%, transparent 0%) 0 0 2/0 0 2px;
}

spinbutton.warning:disabled:not(.vertical),
entry.warning:disabled {
  box-shadow: inset 0 0 0 9999px transparent, inset 0 -1px rgba(255, 255, 255, 0.12);
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.5);
}

spinbutton:not(.vertical) progress,
entry progress {
  margin: 2px -8px;
  border-bottom: 2px solid #8AB4F8;
  background-color: transparent;
}

spinbutton.vertical entry, .gedit-search-slider .linked:not(.vertical) > entry {
  border-radius: 4px;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  border-image: none;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 2px -0.6px rgba(0, 0, 0, 0.17);
  background-color: #3C3C3C;
  color: white;
}

spinbutton.vertical entry:focus, .gedit-search-slider .linked:not(.vertical) > entry:focus {
  border-image: none;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2), 0 3px 2.4px 0 rgba(0, 0, 0, 0.14), 0 1px 4.8px 0 rgba(0, 0, 0, 0.12);
}

spinbutton.vertical entry:drop(active), .gedit-search-slider .linked:not(.vertical) > entry:drop(active) {
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2), 0 3px 2.4px 0 rgba(0, 0, 0, 0.14), 0 1px 4.8px 0 rgba(0, 0, 0, 0.12);
}

spinbutton.vertical entry:disabled, .gedit-search-slider .linked:not(.vertical) > entry:disabled {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 2px -0.6px rgba(0, 0, 0, 0.17);
  background-color: #2C2C2C;
  color: rgba(255, 255, 255, 0.5);
}

spinbutton.vertical entry.error, .gedit-search-slider .linked:not(.vertical) > entry.error {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  border-image: none;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 2px -0.6px rgba(0, 0, 0, 0.17);
  background-color: #F28B82;
  color: rgba(0, 0, 0, 0.87);
}

spinbutton.vertical entry.error:focus, .gedit-search-slider .linked:not(.vertical) > entry.error:focus {
  border-image: none;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2), 0 3px 2.4px 0 rgba(0, 0, 0, 0.14), 0 1px 4.8px 0 rgba(0, 0, 0, 0.12);
}

spinbutton.vertical entry.error:disabled, .gedit-search-slider .linked:not(.vertical) > entry.error:disabled {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 2px -0.6px rgba(0, 0, 0, 0.17);
  background-color: #2C2C2C;
  color: rgba(255, 255, 255, 0.5);
}

spinbutton.vertical entry.error image, .gedit-search-slider .linked:not(.vertical) > entry.error image {
  color: rgba(0, 0, 0, 0.6);
}

spinbutton.vertical entry.error image:hover, .gedit-search-slider .linked:not(.vertical) > entry.error image:hover, spinbutton.vertical entry.error image:active, .gedit-search-slider .linked:not(.vertical) > entry.error image:active {
  color: rgba(0, 0, 0, 0.87);
}

spinbutton.vertical entry.error image:disabled, .gedit-search-slider .linked:not(.vertical) > entry.error image:disabled {
  color: rgba(0, 0, 0, 0.38);
}

spinbutton.vertical entry.warning, .gedit-search-slider .linked:not(.vertical) > entry.warning {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  border-image: none;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 2px -0.6px rgba(0, 0, 0, 0.17);
  background-color: #FDD633;
  color: rgba(0, 0, 0, 0.87);
}

spinbutton.vertical entry.warning:focus, .gedit-search-slider .linked:not(.vertical) > entry.warning:focus {
  border-image: none;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2), 0 3px 2.4px 0 rgba(0, 0, 0, 0.14), 0 1px 4.8px 0 rgba(0, 0, 0, 0.12);
}

spinbutton.vertical entry.warning:disabled, .gedit-search-slider .linked:not(.vertical) > entry.warning:disabled {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 2px -0.6px rgba(0, 0, 0, 0.17);
  background-color: #2C2C2C;
  color: rgba(255, 255, 255, 0.5);
}

spinbutton.vertical entry.warning image, .gedit-search-slider .linked:not(.vertical) > entry.warning image {
  color: rgba(0, 0, 0, 0.6);
}

spinbutton.vertical entry.warning image:hover, .gedit-search-slider .linked:not(.vertical) > entry.warning image:hover, spinbutton.vertical entry.warning image:active, .gedit-search-slider .linked:not(.vertical) > entry.warning image:active {
  color: rgba(0, 0, 0, 0.87);
}

spinbutton.vertical entry.warning image:disabled, .gedit-search-slider .linked:not(.vertical) > entry.warning image:disabled {
  color: rgba(0, 0, 0, 0.38);
}

treeview entry.flat, treeview entry {
  background-color: #2C2C2C;
}

treeview entry.flat, treeview entry.flat:focus, treeview entry, treeview entry:focus {
  border-image: none;
  box-shadow: none;
}

.entry-tag, .documents-entry-tag, .photos-entry-tag {
  margin: 2px;
  border-radius: 9999px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.12);
  color: white;
}

.entry-tag:hover, .documents-entry-tag:hover, .photos-entry-tag:hover {
  background-image: image(alpha(currentColor, 0.08));
}

:dir(ltr) .entry-tag, :dir(ltr) .documents-entry-tag, :dir(ltr) .photos-entry-tag {
  margin-left: 4px;
  margin-right: 0;
  padding-left: 12px;
  padding-right: 8px;
}

:dir(rtl) .entry-tag, :dir(rtl) .documents-entry-tag, :dir(rtl) .photos-entry-tag {
  margin-left: 0;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 12px;
}

.entry-tag.button, .button.documents-entry-tag, .button.photos-entry-tag {
  box-shadow: none;
  background-color: transparent;
}

.entry-tag.button:not(:hover):not(:active), .button.documents-entry-tag:not(:hover):not(:active), .button.photos-entry-tag:not(:hover):not(:active) {
  color: rgba(255, 255, 255, 0.7);
}
