[theme]
name = "bad-wolf"
[theme.overrides]
alternating_tint_bg = "#1a1a1a"
info_bg = "#8bcc66"
info_fg = "#1a1a1a"
idle_bg = "#1a1a1a"

[icons]
name = "awesome5"

[[block]]
block = "music"
buttons = ["play"]
max_width = 50
dynamic_width = true
hide_when_empty = true
marquee = false
format = "{artist} / {title}"

[[block]]
block = "sound"
on_click = "gnome-control-center sound"
device_kind = "sink"
max_vol = 100

[[block]]
block = "sound"
device_kind = "source"
format = ""
step_width = 0

[[block]]
block = "battery"
interval = 10
format = "{percentage}% {time}"
allow_missing = true
hide_missing = true

[[block]]
block = "time"
format = "%a %F %T"
interval = 1
